
.centrado { height: 100vh; background-color: black; display: flex; justify-content: center; align-items: center; }
.hidden { overflow: hidden; }
.lds-ripple { display: inline-block; position: relative; width: 80px; height: 80px; }
.lds-ripple div { position: absolute; border: 4px solid rgb(255, 255, 255); opacity: 1; border-radius: 50%; animation: 1s cubic-bezier(0, 0.2, 0.8, 1) 0s infinite normal none running lds-ripple; }
.lds-ripple div:nth-child(2) { animation-delay: -0.5s; }
@keyframes lds-ripple { 
  0% { top: 36px; left: 36px; width: 0px; height: 0px; opacity: 0; }
  4.9% { top: 36px; left: 36px; width: 0px; height: 0px; opacity: 0; }
  5% { top: 36px; left: 36px; width: 0px; height: 0px; opacity: 1; }
  100% { top: 0px; left: 0px; width: 72px; height: 72px; opacity: 0; }
}
header { width: 100vw; display: flex; align-items: center; justify-content: space-between;}
.img_logo { 
  height: 90px; 
  width: 300px; }
.mapa {height: 100vw; width: 100vw; overflow-x: scroll; margin-left: 2vw; }
.info_map {
  background-image: url("/asents/mapa.jpg");height: 732px;width: 932px;}
#edi_13 { position: relative; left: 634px; top: 291px; }
#edi_12 { position: relative; left: 508px; top: 378px; }
#edi_11 { position: relative; left: 560px; top: 413px; }
#edi_10 { position: relative; left: 468px; top: 442px; }
#edi_9 { position: relative; left: 307px; top: 497px; }
#edi_8 { position: relative; left: 184px; top: 527px; }
#edi_7 { position: relative; left: 21px; top: 364px; }
#edi_6 { position: relative; left: 47px; top: 338px; }
#edi_5 { position: relative; left: 62px; top: 313px; }
#edi_4 { position: relative; left: 176px; top: 263px; }
#edi_3 { position: relative; left: -134px; top: 263px; }
#edi_2 { position: relative; left: -43px; top: 164px; }
#edi_1 { position: relative; left: -38px; top: 190px; }
.btn_edi { color: rgb(255, 255, 255); font-size: 18px; font-weight: bold; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; background-color: rgb(0, 34, 32); text-align: center; border: 6px solid rgb(0, 171, 214); height: 39px; width: 39px; border-radius: 1cm; }
.btn_edi:hover { color: rgb(0, 34, 32); background-color: rgb(255, 255, 255); }
.mapaG{
  width: 100vw;
  height: 90vw;
}
.btn_de{
  margin-right: 2vw;
  border: solid rgb(0, 141, 42) 5px;
  border-radius: 0.3cm;
}
.btn_de1{
  
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid rgb(143, 182, 1) 3px;
  border-radius: 0.15cm;
  color: rgb(0, 140, 165);
}